html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #202020;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 30px;
}

@font-face {
  font-family: "MontserratSemiBold";
  src: url("../fonts//Montserrat-SemiBold.woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
